html {
	min-height : 100%;
    min-width: 100%;
    max-width: 100%;
    font-family: 'Roboto', sans-serif;
    /* background-color: #F4F6F4;
    overflow: hidden; */

} 

img {
    max-height: 100%;
    width: auto;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

/* ********************************************** */
/*                Desktop Header                  */
/* ********************************************** */

#header {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 160px;
    font-size: 15px;
    top: 0;
    left: 0;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0) 0%, rgba(255,216,0,1) 100%);
}
.logo {
    height: 60px;
    width: 130px;
    position: absolute;
    color: 181818;
    top: 30px;
    left: 5%;
    transform: translateX(-5%);
    z-index: 2;
    text-decoration: none;
}


.navbar{
    width: 100%;
    font-size: 16px;
    position: absolute;
    left: 50%;
    top: 50px;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}    

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    top: 0;
    padding: 20px;
}
  
#header li {
    float: left;
}
  
#header li a {
    display: block;
    color: black;
    text-align: center;
    padding: 10px 10px;
    margin: 10px;
    text-decoration: none;
    border-radius: 500%;    
}
  
li a:hover:not(.active) {
    color: rgb(12, 98, 145) !important;
    font-weight: bold !important;
    font-size: 18px;
}


/* ********************************************** */
/*                 Mobile Header                  */
/* ********************************************** */
@media screen and (min-width: 830px) {
    #headerMobile {
        display: none;
    }
}

@media screen and (max-width: 830px) {
    #header {
        display: none;
    }

    #headerMobile {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 9vh;
    }

    #mobileLogo {
        position: absolute;
        top: -2vh;
        height: 13vh;
        width: 18vh;
        left: 100%;
        transform: translateX(-100%);
        z-index: 2;
        
    }

    .clouds {
        margin-top: 9vh;
    }
      
    nav {
        background-color: #ffffff;
        height: 100%;
        width: 100%;
        padding-left: 35px;
    }
      
      
      #menuToggle {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 50px;
        height: 50px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 5;
        -webkit-user-select: none;
        user-select: none;
        background-image: url(../media/hamburger.png); 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }
      
      .menuToggleX {
        width: 40px;
        height: 40px;
        position: relative;
        display: flex;
        flex-direction: column;
        top: 4.7vh;
        margin-left: 31px;
        margin-right: 0;
        background-image: url(../media/close.png); 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        /* transform: translateY(-50%); */

      }
      #menuToggle input
      {
        position: relative;
        display: flex;
        width: 50px;
        min-height: 50px !important;
        cursor: pointer;
        opacity: 0;
        z-index: 8;
      }
      
      #menuToggle span
      {
        display: flex;
        width: 30px;
        height: 2px;
        margin-bottom: 5px;
        background: black;
        border-radius: 3px;
        transform-origin: 5px 0px;
 
      }
      
      #menuToggle span:first-child
      {
        transform-origin: 0% 0%;
      }
      
      #menuToggle span:nth-last-child(2)
      {
        transform-origin: 0% 0%;
      }
      
      #menuToggle input:checked ~ span
      {
        opacity: 1;
        transform: rotate(45deg) translate(-3px, -1px);
        background: #36383F;
      }
      #menuToggle input:checked ~ span:nth-last-child(3)
      {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
      }
      
      #menuToggle input:checked ~ span:nth-last-child(2)
      {
        transform: rotate(-45deg) translate(0, -1px);
      }
      
      #menu
      {
        position: absolute;
        overflow: hidden;
        top: 0;
        width: 120vw;
        height: 200vh;
        box-shadow: 0 0 10px #85888C;
        margin: -50px 0 0 -50px;
        background-color: #F5F6FA;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        z-index: 3;
      }
      

        
    #menu li a {
        font-size: 20px;
        display: block;
        color: black;
        text-align: left;
        padding: 10px;
        margin: 10vw;
        margin-top: 20vw;
        text-decoration: none;

    }
  
      
      #menuToggle input:checked ~ ul
      {
        transform: none;
      }
}


/* ********************************************** */
/*                     Body                       */
/* ********************************************** */

.bods {
    margin-top: 15vh;
    position: relative;
    width: 100vw;
    left: 0;
    line-height: 25px;
}
.bodsWork {
    margin-top: 15vh;
    position: relative;
    width: 100vw;
    left: 0;
    line-height: 25px;
    height: 75vh;
}

.cloud {
    position: relative;
    width: 350px;
    height: 350px;
    /* margin-left: 75px; */
    left: 50%;
    transform: translateX(-50%);
    top: 80px;
}

.cloud img {
    border-radius: 50%;
    width: 375px;
    height: 350px;
}
.cloud img:hover{
    -webkit-box-shadow: 10px 10px 1px 1px rgba(12, 98, 145, 0.3);
    box-shadow: 1px 1px 10px 10px rgba(12, 98, 145, 0.3);

}

.wrapper { 
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
    width: 90%;
    margin: auto;
    /* left: 50%;
    transform: translateX(-50%); */
    text-align: center;
    margin-bottom: 10px;
}

  
  #one {
    float: left; 
    margin-right:4%;
    margin-left: 3%;
    width:45%;
    height:300px;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  #two { 
    overflow:hidden;
    width:45%;
    height:300px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

/* ********************************************** */
/*                    Footer                      */
/* ********************************************** */

.social-footer {
    padding: 1.5rem;
    color: #A9A9A9;
    font-size: 11px;
    margin-top: -6;
    margin-left: 50px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    
  }
.social{
    margin-right: 50px;
    width: 100px;
    padding: 5px;
}

.social a{
    width: 30px;
}
